.add_card_form {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.add_card_form input {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
}

.add_card_form button {
  background-color: green;
  color: white;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}