:root{
    --color-main: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.parent {
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding: 20px; */
    /* position: relative; */

    display: flex;
}

.child {
    width: 100px;
    height: 100px;
    background-color: green;
    /* position: absolute; */

    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; */

    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    margin: auto;
}


/* .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper img{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.wrapper img:last-child{
    margin-bottom: 0px;
} */
.wrapper {
    border: 1px solid;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.project {
    padding: 32px 0;
}

.project h2 {
    padding: 12px 0;
    border-bottom: 1px solid #f1f1f1;
}

.project__items {
    padding: 12px 0;

    display: flex;
    /* flex-direction: column;
    justify-content: space-between; */
    gap: 16px;
}

.project__items .item {
    max-width: 362px;
    position: relative;
    display: block;
}

.project__items .item img {
    width: 100%;
}

.project__items .item span {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
}

.form {
    max-width: 576px;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form__input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ddd;
}

.btn {
    padding: 12px 16px;
    background-color: blue;
    color:#fff;
    border: none;
}

.result {
    text-align: center;
    margin: 20px 0;
    color: #111;
}