* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: rgb(233, 154, 154);
    padding: 20px;
    margin-bottom: 50px;
}
.text {
    /* display: inline; делает строчным */
    width: 50%;
    background-color: rgb(236, 213, 180);
    margin-bottom: 10px;
}
a {
    /* display: block; делает блочным*/
    background-color: rgb(173, 198, 246);
}